@font-face {
    font-family: 'Poppins';
    src: url(../fonts/poppins.woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
}

.bg-kopi {
    background-color: rgb(13, 36, 13);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    section.contact-us {
    margin-bottom: 100px;
}

.contact-us .baris .kolom {
    margin-top: 40px;
    width: 25%;
    text-align: center;
}

.contact-us .kolom a {
    text-decoration: none;
}

/* Footer */

footer {
    background-color: rgb(13, 36, 13);
    padding-left: 30px;
    padding-right: 30px;
}

footer .baris {
    align-items: center;
    justify-content: space-between;
    max-width: 1366px;
    align-self: center;
    height: 60px;
}

footer .navigasi {
    width: 60%;
}

footer p {
    color: #fff;
}

/* Produk */

.shop .card p.card-text {
    font-size: 15px;
    color: #3b3b3b;
}

.shop .card h5 {
    font-size: 18px;
    font-weight: bold;
    color: #3b3b3b;
}
@media (max-width:700px) {

.baris {
      flex-wrap: wrap;
   }

   .navigasi {
      display: none;
   }

   .logo {
      margin-right: auto;
   }

   header {
      padding-left: 20px;
      padding-right: 20px;
   }

   header .kiri {
      width: 100%;
      padding-right: 0;
      text-align: center;
   }

   header .kanan {
      width: 100%;
   }

   .best-seller .produk {
      width: 50%;
   }

   .review .baris .testimoni {
      width: 100%;
      margin-bottom: 30px;
   }

   .contact-us .baris .kolom {
      width: 50%;
   }
}